.resultclass{
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Horizontally center */
    gap: 10px;  /* space between elements */
}



.column {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontally center */
   align-items: center;
}

.hidden {
    display: none !important;
}

@media (max-width: 480px) {
    .row {
        flex-direction: column; 
        gap: 8px;
    }
}
